:root {
  --coolRed: #c21807;
  --darkColor: #1a1a1a;
  --lightColor: #252525;
}


.movie-container {
    display: flex; /* Use flexbox to create a horizontal layout */
    flex-wrap: wrap; /* Allow wrapping of movie cards to the next row if needed */
    justify-content: center; /* Center the movie cards horizontally */
    gap: 20px; /* Adjust the gap between movie cards as needed */
  }
  

  
.movie-card {
    width: 300px; /* Adjust this width as needed */
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center; /* Center the title horizontally */
  }
  
  /* CSS for the poster image inside the movie card */
  .poster-container {
    height: 500px; /* Adjust this height as needed */
    background-size: cover;
    background-position: center;
  }
  
  .poster-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* CSS for the movie title inside the movie card */
  .movie-card h2 {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
  }


.movie-container {
    display: flex; /* Use flexbox to create a horizontal layout */
    flex-wrap: wrap; /* Allow wrapping of movie cards to the next row if needed */
    justify-content: center; /* Center the movie cards horizontally */
    gap: 20px; /* Adjust the gap between movie cards as needed */
  }
  

  
.movie-card {
    width: 300px; /* Adjust this width as needed */
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center; /* Center the title horizontally */
  }
  
  /* CSS for the poster image inside the movie card */
  .poster-container {
    height: 500px; /* Adjust this height as needed */
    background-size: cover;
    background-position: center;
  }
  
  .poster-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* CSS for the movie title inside the movie card */
  .movie-card h2 {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
  }

.movies {
    font-family: 'Crimson Text', serif;
    color: #c21807;
}

.searchTitles {
  border-color: transparent;
  border-bottom-color: var(--coolRed);
  border-width: 8px;
}

.intro-background {
  background-color: #252525;
}

.header {
  background-color: #1a1a1a;
}

.genreContainer, .recoContainer{
  flex: 0 0 85%;
  
}

.trendingFlex {
  flex: 0 0 30%;
}

.trending{
  
  border-color: transparent;
  border-left-color: var(--coolRed);
  border-width: 8px;
  position: fixed;
  right: 0
}

.trending img {
  max-width: 100px !important;  
  height: 100px !important; 
  ;
}
.bigContainer {
  flex: 0 0 70%;
}

section {
  display:flex;
}