:root {
  --coolRed: #c21807;
  --darkColor: #1a1a1a;
  --lightColor: #252525;
}


.movie-container {
    display: flex; /* Use flexbox to create a horizontal layout */
    flex-wrap: wrap; /* Allow wrapping of movie cards to the next row if needed */
    justify-content: center; /* Center the movie cards horizontally */
    gap: 20px; /* Adjust the gap between movie cards as needed */
    
    margin-top: 10px;
  }
  

  
.movie-card {
    width: 300px; /* Adjust this width as needed */
    margin: 10px;
    background-color: #1a1a1a;
    border-radius: 5px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-color: #1a1a1a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center; /* Center the title horizontally */
  }
  
  /* CSS for the poster image inside the movie card */
  .poster-container {
    height: 500px; /* Adjust this height as needed */
    background-size: cover;
    background-position: center;
  }
  
  .poster-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* CSS for the movie title inside the movie card */
  .movie-card h2 {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    ;
    border-bottom: 1px solid #c21807;
    border-radius: 5px 5px 0 0;
    color: #c21807;
  }


.movie-container {
    display: flex; /* Use flexbox to create a horizontal layout */
    flex-wrap: wrap; /* Allow wrapping of movie cards to the next row if needed */
    justify-content: center; /* Center the movie cards horizontally */
    gap: 20px; /* Adjust the gap between movie cards as needed */
  }
  

  
.movie-card {
    width: 300px; /* Adjust this width as needed */
    margin: 10px;
    
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center; /* Center the title horizontally */
  }
  
  /* CSS for the poster image inside the movie card */
  .poster-container {
    height: 500px; /* Adjust this height as needed */
    background-size: cover;
    background-position: center;
  }
  
  .poster-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* CSS for the movie title inside the movie card */
  .movie-card h2 {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #c21807;
    border-radius: 5px 5px 0 0;
    color: #c21807;
  }

.movies {
    font-family: 'Crimson Text', serif;
    color: var(--coolRed);
}

.jstyling {
   font-family: 'Crimson Text', serif;
  color: var(--coolRed);
  display: inline-block;  
  justify-content: space-between;
  margin-top: 56px;
  margin-left: 10px;
  text-align: center;
  background-color: #1a1a1a;
  border-radius: 0.5rem;
  border-left-width: 20px;
  border-right-width: 20px;
  border-bottom-width: 15px;
  border-color: #1a1a1a;
  flex-basis: 50%;
  justify-content: center;
  inline-size: 170px;
  
}

.gstyling img {  
  max-width: 185px;  
  height: 185px;  
  } 
  
 .gstyling {
  font-family: 'Crimson Text', serif;
  color: var(--coolRed);
  display: flex;  
  justify-content: space-between;
  margin-top: 56px;
  margin-left: 10px;
  text-align: center;
  background-color: #1a1a1a;
  border-radius: 0.5rem;
  border-left-width: 20px;
  border-right-width: 20px;
  border-bottom-width: 15px;
  border-color: #1a1a1a;
  flex-basis: 50%;
  justify-content: center;
  inline-size: 170px;
  float: right;
  }

.poster-box {
  display: inline;
  margin-top: 56px;
  margin-left: 10px;
  text-align: center;
  background-color: #1a1a1a;
  border-radius: 0.5rem;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: #1a1a1a;
  flex-basis: 50%;
}
.jstyling, .gstyling h3 {
  border-bottom-color: #c21807;
  border-bottom-width: 4px;
  margin-bottom: 7px;
  
}

.searchTitles {
  border-color: transparent;
  border-bottom-color: var(--coolRed);
  border-width: 8px;
}

.intro-background {
  background-color: #252525;
}

.header {
  background-color: #1a1a1a;
}

.genreContainer, .recoContainer{
  flex: 0 0 85%;
  
}

.trendingFlex {
  flex: 0 0 30%;
}

.trending{
  
  border-color: transparent;
  border-left-color: var(--coolRed);
  border-width: 8px;
  position: fixed;
  right: 0
}

.trending img {
  max-width: 100px !important;  
  height: 100px !important; 
  ;
}
.bigContainer {
  flex: 0 0 70%;
}

.genre-btns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1px;
}

.btn {
  border-radius: 2px;
  background-color: var(--darkColor);
  color: var(--coolRed);
  font-weight: bold;
  font-size: 25px;
  margin: 10px;
  margin-left: 300px;
  border: 2px;
  border-color: var(--coolRed);
  cursor: pointer;
  padding: 3px 5px 3px 5px;
}

.hBtn {
   border-radius: 2px;
  background-color: var(--darkColor)!important;
  color: var(--coolRed) !important;
  font-weight: bold;
  font-size: 10px;
  margin: 10px;
  margin-left: 300px;
  border: 2px;
  border-color: var(--coolRed);
  cursor: pointer;
  padding: 3px 5px 3px 5px;
}

input {
  background-color: #1a1a1a;
}

section {
  display:flex;
}

.hidden {
  display: none;
}

#movieTitle {
  font-size: 30px;
  color: var(--coolRed);
}

.overviewcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--coolRed);
}

body {
  background-color: var(--lightColor);
}

.movie-pointer {
  cursor: pointer;
}